body {
    background-image: url(https://data.whicdn.com/images/247997719/original.gif);
    color: rgb(250, 250, 217);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
}

#planets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.planet-card {
    text-align: center;
    border: 4px solid rgb(244, 247, 121);
    border-radius: 15px;
    margin: 2%;
    padding: 2%;
    width: 400px;
}

h1 { 
    text-shadow: 5px 5px 5px rgb(95, 216, 247);
    font-weight: 900;
    font-size: 3em;
}

.main-header {
    font-size: 5em;
    text-align: center;
}

#search-bar {
    text-align: center;
}

img {
    width: 100%;
    border-radius: 15px;
    border: 2px solid rgb(95, 216, 247);
}

.hide {
    display: none;
}

#x {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    padding: 15px;
    color: red;
    font-size: 2em;
    font-weight: 900;
    border: 2px solid rgb(95, 216, 247);
    border-radius: 15px;
    background-color: rgb(244, 247, 121);
}
